

.container {
    width: 30px;
    height: 30px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background-color: rgb(145, 145, 241);
    border-radius: 50px;
  }
  
  .item {
    background: white;
    border-radius: 100%;
  }
  